@page
@model Assignment3.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TotalBookingsPerDay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBookingsPerDay.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalBookingsPerDay.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBookingsPerDay.TotalAdults)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalBookingsPerDay.TotalAdults)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBookingsPerDay.TotalChildren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalBookingsPerDay.TotalChildren)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TotalBookingsPerDay?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
