@page
@model Assignment3.Pages.KitchenModel

@{
    ViewData["Title"] = "Kitchen";
}

<h1>Kitchen</h1>
<form asp-action="Process" method="post">
    <input type="date" name="Day" />
    <button type="submit">Submit</button>
</form>
<table class="table">
    <thead>
        <tr>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.TotalGuests)
	        </th>
	        <td>
		        @Html.DisplayFor(modelItem => modelItem.CheckIn.TotalGuests)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.TotalAdults)
	        </th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CheckIn.TotalAdults)
            </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.TotalChildren)
	        </th>
	        <td>
		        @Html.DisplayFor(modelItem => modelItem.CheckIn.TotalChildren)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.CheckedInAdults)
	        </th>
	        <td>
		        @Html.DisplayFor(modelItem => modelItem.CheckIn.CheckedInAdults)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.CheckedInChildren)
	        </th>
	        <td>
		        @Html.DisplayFor(modelItem => modelItem.CheckIn.CheckedInChildren)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.RemainingGuests)
	        </th>
	        <td>
		        @Html.DisplayFor(modelItem => modelItem.CheckIn.RemainingGuests)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.RemainingAdults)
	        </th>
	        <td>
				@Html.DisplayFor(modelItem => modelItem.CheckIn.RemainingAdults)
	        </td>
	        <th>
		        @Html.DisplayNameFor(model => model.CheckIn.RemainingChildren)
	        </th>
	        <td>
				@Html.DisplayFor(modelItem => modelItem.CheckIn.RemainingChildren)
	        </td>
            <th></th>
        </tr>
    </thead>

  
            
	
</table>