@page
@model Assignment3.Pages.KitchenModel

@{
    ViewData["Title"] = "Kitchen";
}

<h1>Kitchen</h1>
<form asp-action="Process" method="post">
    <input type="date" name="Day" />
    <button type="submit">Submit</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.TotalGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.TotalAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.TotalChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.CheckedInAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.CheckedInChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.RemainingGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.RemainingAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn.RemainingChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CheckIn.TotalGuests)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.TotalAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.TotalChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.CheckedInAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.CheckedInChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.RemainingGuests)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.RemainingAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckIn.RemainingChildren)
            </td>
        </tr>
    </tbody>
</table>